* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  background-color: rgba(21, 182, 241, 0.897);
  color: #fff;
}

.container {
  max-width: 700px;
  margin: 12%;
  width: 90%;
}

.display {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
}

.display img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  cursor: pointer;
}

.container h1 {
  font-weight: 500;
  font-size: 45px;
}

.container h1 span {
  color: rgb(6, 54, 18);
  border-bottom: 4px solid rgb(6, 54, 18);
  padding-bottom: 7px;
}

.container button {
  background: rgb(16, 88, 33);
  color: #fff;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.container button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
